# Ignore node_modules folder
/node_modules

# Ignore log files
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env

# Ignore specific files for OS
.DS_Store             # macOS
Thumbs.db             # Windows

# Ignore production build folder (if any)
build/
dist/

# Ignore coverage folder (for testing)
coverage/

# Ignore lock files from package managers (optional)
package-lock.json
yarn.lock

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore temporary or backup files
*.tmp
*.bak
*.swp
*~

.env
/config/config.env